html,
body {
  margin: 0;
  padding: 0;
}

.button-panel {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #fff8;
  border-radius: 4px;
}

.mm-toolbar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.btn-text {
  height: auto;
  padding-left: 4px;
  padding-right: 4px;
}
.mm-toolbar-brand {
  display: none !important;
}
.node-container {
  cursor: pointer;
}
.node-remark {
  position: fixed;
  top: 20; /* 根据需要调整位置 */
  left: 0; /* 根据需要调整位置 */
  z-index: 9999999; /* 使其浮动在最上层 */
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 5px; /* 添加一些内边距，让内容不贴边 */
  white-space: nowrap; /* 如果你希望内容不换行，可以使用这个 */
}
/* See：https://github.com/primer/css/blob/v12.4.0/src/buttons/button.scss#L205 */
details {
  /* // Remove marker added by the display: list-item browser default */
  > summary {
    list-style: none;
  }
  /* Remove marker added by details polyfill */
  > summary::before {
    display: none;
  }
  /* Remove marker added by Chrome */
  > summary::-webkit-details-marker {
    display: none;
  }
}

/*  custom style */
summary:after {
  content: '🙈';
}
details[open] summary:after {
  content: '🐵';
}
